@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@theme {
	/* Colours to be determined */
	--color-lightPrimary: #fcf7f8;
	--color-lightSecondary: #f39237;
	--color-darkPrimary: #272838;
	--color-darkSecondary: #bfb1c1;
	--color-accent: #7e7f9a;
	--color-lightText: #272838;
	--color-darkText:;
	--color-lightTextMuted: #696c96;
	--color-darkTextMuted:;
}

.markdown-content ul {
	margin-left: 1.5em;
	font-size: 0.9em;
	list-style-type: disc; /* To be changed later? */
}
.markdown-content li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.markdown-content h2 {
	font-size: 1em;
	font-weight: 600;
	margin-top: 1em;
}

@media (max-width: 425px) {
	.markdown-content ul {
		font-size: 0.8em;
	}
	.markdown-content h2 {
		font-size: 0.9em;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
